/*FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none;
    
}


body{
    background: url(assets/img/fondo.jpg);
}

.alerta{
    padding: 5px;
    font-size: 14px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 15px;
    border-radius: 2px;
}

.alerta-error{
    background: red;
}

.fecha{
    color: #4e4e4e;
    margin-top:5px;
    font-size: 14px;
}

/*CABECERA*/
#cabecera{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto;
    /*border: 1px solid black;*/
}


/*LOGOTIPO*/
#logo{
    text-align: center;
    margin: 20px;
}



@import url('https://fonts.googleapis.com/css2?family=Creepster&family=UnifrakturMaguntia&display=swap');

#logo a {
    font-family: "Creepster", cursive; /* Alternativamente: "UnifrakturMaguntia", serif */
    font-weight: 900;
    font-size: 40px;
    color: #ffffff; /* Blanco puro */
    text-shadow: 3px 3px 5px #000000, 0px 0px 10px #FF00FF; /* Sombra negra con un ligero brillo rojo */
    transition: all 300ms ease-in-out;
}

#logo a:hover {
    color: #FF00FF; /* Rojo sangre */
    text-shadow: 5px 5px 10px #000000, 0px 0px 15px #FF00FF; /* Sombra más intensa en hover */
    transform: scale(1.1); /* Efecto de agrandamiento */
}
/*MENU*/
#menu {
    clear: both;
    width: 100%;
    height: 45px;
    background: black;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0px 2px 5px black;
    overflow: hidden;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    line-height: 44px;
    border-right: 1px solid #222;
}

#menu ul li a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease-in-out;
}

#menu ul li a:hover {
    background: #ff00ff57;
    box-shadow: 0px 0px 10px #FF00FF;
    color: #fff;
}
#menu ul li a.active {
    background: #FF00FF; 
    color: #fff;
}

/* CONTENIDO */
#contenedor {
    width: 80%;
    height: auto;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}

/*BARRA LATERAL*/
#sidebar{
    float:right;
    width: 27%;
    height: auto;
}

li{
    color: #ccc;
}
.bloque {
    display: block;
    width: 90%;
    margin: 0px auto 35px;
    background: #111; /* Negro oscuro */
    padding: 15px;
    box-shadow: 0px 0px 5px rgba(195, 0, 255, 0.473), 
                0px 5px 10px rgba(204, 0, 255, 0.247), 
                0px 0px 2px #FF00FF inset, 
                0px -3px 2px rgba(0, 0, 0, 0.5) inset;
    border: 1px solid #444;
    color: white;
}

.bloque h3 {
    margin-bottom: 15px;
    font-family: "Creepster", cursive; 
    color: #ff00ffb2; 
}

label,
input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 95%;
    margin: 2px 0;
    background: #222; 
    color: white;
    border: 1px solid #FF00FF;
    padding: 5px;
    font-family: "UnifrakturMaguntia", serif; 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #ffffff;
    outline: none;
    box-shadow: 0px 0px 10px rgba(204, 0, 255, 0.411);
}

/* Estilos para los botones */
input[type="button"],
input[type="submit"],
.boton {
    margin: 5px 0;
    display: block;
    border-radius: 5px;
    color: white;
    background: #222;
    border: 1px solid #FF00FF;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.boton:hover {
    background: #FF00FF;
    border-color: #ffffff;
    text-shadow: 0px 0px 5px white;
    transform: scale(1.1);
}

/* Estilos específicos para botones de colores */

.boton-login{     margin: 5px 0;
    display: block;
    border-radius: 5px;
    color: white;
    background: #222;
    border: 1px solid #FF00FF;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
    transition: all 0.3s ease-in-out; 
}
/*PRINCIPAL*/
#principal {
    float: left;
    width: 65%;
    min-height: 572px;
    background: #111; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(174, 0, 255, 0.4);
    padding: 40px;
    overflow: hidden;
    border: 1px solid #333;
}

.section{
    text-decoration: none;
    
}
ul{
    list-style: none;
}
#principal a {
    color: #FF00FF; /* Rojo sangre */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#principal a:hover {
    text-shadow: 0px 0px 10px #FF00FF;
    transform: scale(1.1);
}

#principal h1 {
    font-size: 40px;
    color: #fff;
    text-shadow: 3px 3px 5px #FF00FF, 0px 0px 10px black;
    font-family: "Creepster", cursive; /* Fuente más emo */
}

#principal h2 {
    font-size: 2em;
    color: #FF00FF;
    text-shadow: 2px 2px 5px black;
    font-family: "UnifrakturMaguntia", serif;
    margin-top: 25px;
}

#principal p {
    margin-top: 8px;
    color: #ddd;
    font-size: 16px;
}
/* Estilo para los comentarios */
.comentario {
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #fff; /* Texto blanco */
    font-family: 'Montserrat', sans-serif;
}

/* Encabezado del comentario */
.comentario-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #aaa; /* Texto gris claro */
}

/* Correo del usuario */
.comentario-correo {
    font-weight: bold;
    color: #ff0000; 
}

/* Hora del comentario */
.comentario-hora {
    font-style: italic;
}

/* Texto del comentario */
.comentario-texto {
    font-size: 16px;
    line-height: 1.5;
    color: #ddd; 
}

/* Botón para ver más comentarios */
.boton-ver-todas {

    padding: 10px 20px;
    background: #00000077;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;

}


.perfiles {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 2em;
}

.perfil {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.perfil img {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    border: 3px solid #666; 
    object-fit: cover;
}

/*PIE DE PAGINA*/
#pie {
    clear: both;
    width: 85%;
    margin: 0px auto;
    background: linear-gradient(to bottom, #111 0%, #000 100%); 
    border: 1px solid #222;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    color: #ccc;
    height: auto;
    padding: 15px;
    text-align: center;
    box-shadow: 0px -2px 10px black;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-contenido {
    background: #444;
    margin: 10% auto;
    padding: 20px;
    width: 40%;
    border-radius: 5px;
}
.cerrar {
    float: right;
    font-size: 28px;
    cursor: pointer;
}


.todo{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}